.form {
    position: relative;
    display: block;
    left: calc(50% - 400px / 2);
    margin-top: 15vh;
    width: 400px;
    height: 500px;
    background-color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 5vh;
}

#titlebar {
    font-size: 2rem;
}

button {
    border-style: none;
}