.form {
    position: relative;
    display: block;
    left: calc(50% - 400px / 2);
    margin-top: 15vh;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding-top: 5vh;
    color: black;
}

.container {
    margin-top: 5vh;
    margin-left: 10vh;
}

hr{
    margin-top: 5%;
    margin-bottom: 2vh;
}

p{
    text-align: center;
}

#titlebar {
    font-size: 2rem;
    text-align: center;
}

input{
    margin-top: 2vh;
}

button {
    margin-top: 2vh;
    position: relative;
    border-style: none;
    width: 100px;
    height: 25px;
    background-color: rgb(209, 206, 206);
    border-radius: 10px;
    left: calc(50% - 100px / 2);
}

#btn {
    background-color: rgb(139, 56, 206);
    color: white;
    transition: ease-in-out;
}

#btn:hover {
    background-color: rgb(107, 37, 163);
}

#display {
    color: red;
}